@import 'tailwindcss';

@theme {
        --color-primary: #091724;
        --color-primary-light: #0C1F30;
        --color-secondary: #c70039;
        --color-tertiary: #ffb199;
  }

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
